.header {
  margin-bottom: 20px;
}
.nav-list {
  display: grid;
  align-items: flex-start;
  position: relative;
  padding: 0 2rem;
}

.nav-list::before {
  content: '';
  position: absolute;
  border-top: 2px solid rgb(var(--fo-fg));
  border-left: 2px solid rgb(var(--fo-fg));
  width: 2rem;
  height: 8px;
  bottom: -6px;
  left: 0;
}

.nav-list::after {
  content: '';
  position: absolute;
  border-top: 2px solid rgb(var(--fo-fg));
  border-right: 2px solid rgb(var(--fo-fg));
  width: 2rem;
  height: 8px;
  bottom: -6px;
  right: 0;
}

.nav-item {
  position: relative;
  grid-row-start: 1;
  display: inline-flex;
  font-weight: 700;
  text-transform: uppercase;
  height: 2rem;
  font-size: 1.25rem;
  line-height: 2.25rem;
  cursor: pointer;
  user-select: none;
  appearance: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(var(--fo-fg));
  border-color: rgb(var(--fo-fg));
  border-bottom-width: 2px;
}

.nav-item-active {
  border-bottom-width: 0;
}

.nav-item-active::before {
  content: '';
  position: absolute;
  border-top: 2px solid rgb(var(--fo-fg));
  border-left: 2px solid rgb(var(--fo-fg));
  width: 8px;
  height: 60%;
  bottom: 0;
  left: 0;
}

.nav-item-active::after {
  content: '';
  position: absolute;
  border-top: 2px solid rgb(var(--fo-fg));
  border-right: 2px solid rgb(var(--fo-fg));
  width: 8px;
  height: 60%;
  bottom: 0;
  right: 0;
}
