@import url('../../node_modules/modern-normalize/modern-normalize.css');
@import url('./null.css');
@import url('./base.css');
@import url('./header.css');

.timer {
  font-family: 'Share Tech Mono', monospace, system-ui;
  display: flex;
  padding: 24px;
  font-size: 40px;
  justify-content: space-around;
  color: rgb(var(--fo-fg));
}

span {
  text-align: center;
  display: block;
}
.value {
  font-size: 50px;
}
